@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
    justify-content: center;
  }

  .center {
    text-align: center;
    overflow-wrap: break-word;
  }

  .center h1 {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
    margin-bottom: 0.5rem;
  }

  .center h2 {
    font-size: clamp(1rem, 4vw, 1.5rem);
  }

  .equalizer {
    margin: 1rem 0;
    height: 50px;
    justify-content: center;
  }

  .left,
  .equalizer,
  .center,
  .right {
    width: 100%;
    max-width: 500px;
    margin-bottom: 1rem;
  }

  .info p {
    padding-left: 0;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-container > div {
    width: 100%;
    max-width: 500px;
    margin-bottom: 1.5rem;
  }

  .social {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-logo img {
    height: 150px;
  }

  .social img {
    height: 80px;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero .top-selection,
  .genre-selection {
    justify-content: center;
  }

  .hero .top-selection a {
    flex: 1 1 100%;
  }

  #artist-results-container,
  #results-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin-top: 20px;
  }
  .main-focus {
    flex-direction: column;
  }

  /* Reorder elements for mobile layout */
  .focus-cards {
    order: 1;
  }

  .top-songs {
    order: 2;
  }

  .top-artists {
    order: 4;
  }

  .focus-cards a:nth-child(2) {
    order: 3;
  }

  /* Optional: make each section full width */
  .focus-cards,
  .listings-wrapper,
  .top-songs,
  .top-artists {
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .equalizer {
    height: 40px;
  }

  .equalizer span {
    width: 6px;
  }

  .artist-card,
  .song-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .artist-card img,
  .song-card img {
    width: 80px;
    height: 80px;
  }
  .artist-card .artist-info,
  .song-card .song-info {
    margin-top: 8px;
  }
}
