<div class="footer-logo">
    <img src="/images/logo_music_info.jpg" alt="Music Info Logo">
</div>
<div class="info">
    <p id="city">Music Info</p>
    <p>Street Address<br>
        Provo, UT 84601<br>
        (801) 373-5930
    </p>
    <a href="https://youtu.be/BLnVA5ipoWk" target="_blank">Link for video submission</a>
    <p><span class="submit">Number of Visits: </span><span class="visits"></span></p>
    <p class="last-visit"></p>
</div>
<div class="social">
    <a href="https://www.youtube.com/" target="_blank">
        <img src="/images/youtube.webp" alt="YouTube">
    </a>
    <a href="https://www.linkedin.com/" target="_blank">
        <img src="/images/linkedin.png" alt="LinkedIn">
    </a>
    <a href="https://www.instagram.com/" target="_blank">
        <img src="/images/instagram.jpg" alt="Instagram">
    </a>
    <a href="https://www.x.com/" target="_blank">
        <img src="/images/x.png" alt="X">
    </a>
</div>