<div class="left">
    <div class="logo">
      <a href="../index.html">
        <img src="/images/logo_music_info.jpg" alt="Music Info Logo">
      </a>
    </div>
  </div>
  <div class="equalizer">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

  <div class="center">
    <h1>Music Info</h1>
    <h2>Your source for music information</h2>
    
  </div>

  <div class="right">
    <nav id="navMenu">
        <ul class="menuLinks">
        <li><a href="../song/index.html" title="Songs">Songs</a></li>
        <li><a href="../artist/index.html" title="Artists">Artists</a></li>
        <li><a href="../genre/index.html" title="Genre">Genre</a></li>
        </ul>
    </nav>
  </div>

